<template name="search">
  <div class="input-group">
    <p>
      Search by:
      <select id="search-by">
        <option value="" selected>All</option>
        <option value="Person">Person</option>
        <option value="Company">Company</option>
        <option value="Jurisdiction">Jurisdiction</option>
      </select>
    </p>
    <div>
      {{#each tags}}
        <span class="tag"><label><input checked="true" type="checkbox" data-tag="{{this}}"> {{capitalize this}}</label></span>
      {{/each}}
    </div>
    <div>
      <div class="search-container">
        <input type="text" id="search-query" placeholder="Name (optional)">
        <div class="search-row hide">
          <ul>
            {{#each nodes}}
            <li class="search">{{this.name}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
      <button id="submit-search">Submit</button>
    </div>

  </div>
</template>
