<template name="createLink">
  <div class="input-group">
    <h4>Create Link</h4>
    <div class="search-container">
      <input type="text" id="source" placeholder="Source">
      <div class="search-row hide">
        <ul>
          {{#each nodes}}
          <li class="source">{{this.name}}</li>
          {{/each}}
        </ul>
      </div>
    </div>

    <div>
      <select id="link-type">
        <option value="" selected disabled>Link type</option>
        {{#each linkTypes}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>
    <div class="search-container">
      <input type="text" id="target" placeholder="Target">
      <div class="search-row hide">
        <ul>
          {{#each nodes}}
          <li class="target">{{this.name}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
    <button id="create-link">Create link</button>
  </div>
</template>
