<template name="createLink">
  <div class="input-group">
    <h4>Create Link</h4>
    <div class="search-container">
      <input type="text" id="source" placeholder="Source">
      {{#if settingSource}}
      <div class="search-row">content here</div>
      {{/if}}
    </div>

    <div>
      <select id="link-type">
        <option value="">Link type...each loop</option>
      </select>
    </div>
    <div class="search-container">
      <input type="text" id="target" placeholder="Target">
      {{#if settingTarget}}
      <div class="search-row">content here</div>
      {{/if}}
    </div>
    <button id="create-link">Create link</button>
  </div>
</template>
