<template name="createLink">
  <div class="input-group">
    <h4>Create Link</h4>
    <div class="search-container">
      <input type="text" id="source" placeholder="Source">
      <div class="search-row hide">
        <ul>
          {{#each nodes}}
          <li>{{this.name}}</li>
          {{/each}}
        </ul>
      </div>
    </div>

    <div>
      <select id="link-type">
        <option value="">Link type...each loop</option>
      </select>
    </div>
    <div class="search-container">
      <input type="text" id="target" placeholder="Target">
      <div class="search-row hide">content here</div>
    </div>
    <button id="create-link">Create link</button>
  </div>
</template>
