@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

.node {
    stroke: #ddd;
    stroke-width: 1.5px;
}
.link {
    stroke: #999;
    stroke-opacity: .6;
}
.node {
  text {
    font-family: 'Open Sans', sans-serif;
  }
}
