.node {
    stroke: #ddd;
    stroke-width: 1.5px;
    cursor: pointer;
}
.link {
    stroke: #999;
    stroke-opacity: .6;
}
.node {
  text {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    stroke-width: 0;
  }
}
