

@import "d3";

#side-nav {
  width: 400px;
  height: 100vh;
  position: fixed;
  right: 0px;
  top: 0px;
  background-color: #ccc;
  overflow-y: scroll;
}

.input-group {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #666;
  border-radius: 3px;
}
