@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

@import "d3";

#side-nav {
  width: 400px;
  height: 100vh;
  position: fixed;
  right: 0px;
  top: 0px;
  background-color: #90CAF9;
  overflow-y: scroll;
}

.input-group {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #666;
  border-radius: 3px;
}

.network-wrapper {
  width: calc(100vw - 400px);
  max-height: 100vh;
  overflow: hidden;
}

.name-list {
  p {
    font-family: 'Open Sans';
    font-weight: 400;
    color: #333;
  }
  padding: 2rem;
  padding-top: 1rem;
}

.search-row {
  min-height: 100px;
  max-height: 150px;
  overflow: scroll;
  width: 130px;
  background-color: red;
  position: absolute;
  top: 19px;
  left: 0px;
  z-index: 1;
}

.search-container {
  width: 500px;
  height: auto;
  position: relative
}
